datetime==4.3
future==0.18.2
glob2==0.7
joblib==1.1.0
keras==2.8.0
librosa==0.8.1
matplotlib==3.3.4
multiprocess==0.70.12.2
numpy==1.19.5
opencv-python==4.5.5.62
pandas==1.1.5
pathlib==1.0.1
scipy==1.5.3
scikit-learn==0.23.2
seaborn==0.11.2
SoundFile==0.10.3.post1
tensorflow==2.9.3
torch==1.7.1+cu110
torchvision==0.8.2+cu110
tqdm==4.62.3
